body {
  font-family: 'Roboto', sans-serif;
  background-color: #4E5754; /* Темно-зеленый фон */
  margin: 20px;
  font-weight: normal;
  line-height: 1.6;
  color: #fff; /* Белый цвет текста */
}


form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222;
}

.question-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #333;
}

.radio-container {
  display: flex;
}

.radio-label {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  background-color: #444;
  color: #fff;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

input[type="submit"] {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}
